.cell {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: grey;
    -fx-border-radius: 2px;
}
.general-btn {
    -fx-border-radius: 5px;
    -fx-pref-height: 15px;
    -fx-font-size: 14px;
}
.general-text {
    -fx-padding: 5 0 0 0;
    -fx-pref-width: 150px;
    -fx-font-size: 14px;
}
.bubble {
    -fx-border-color: #472510;
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-background-color: #edb18c;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.bubble:hover {
    -fx-background-color: #f3cca3;  /* Lighter shade for hover */
    -fx-border-color: #5e3318;  /* Slightly darker border color on hover */
}

.bubble:pressed {
    -fx-background-color: #d9a76c;  /* Even darker shade for pressed */
    -fx-border-color: #3c190e;  /* Much darker border color when pressed */
}
.large-bubble .scroll-bar {
    -fx-background-color: transparent;
}
.large-bubble .scroll-bar .thumb {
    -fx-fill: -c-glass;
    -fx-arc-width: 16px;
    -fx-arc-height: 16px;
}

.large-bubble .scroll-bar .track {
    -fx-stroke-width: 1;
    -fx-stroke: -c-dark-glass;
    -fx-arc-width: 16px;
    -fx-arc-height: 16px;
    -fx-fill: transparent;
}
.large-bubble {
    -fx-border-color: #472510;
    -fx-border-width: 3px;
    -fx-font-weight: bold;
    -fx-background-color: #e3af8f;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.image {
    -fx-background-size: auto 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.ship-center {
  -fx-background-color: grey;
    /* -fx-background-size: auto 50%; */
    /* -fx-background-repeat: no-repeat; */
    /* -fx-background-position: center center; */
    /* -fx-background-image: url('images/AI.png'); */
}
.help-btn {
    -fx-background-image: url('images/help.png'); /* assuming the images directory is directly under the src folder */
}
.back-btn {
    -fx-background-image: url('images/Back.png');
}
.quit-btn {
    -fx-background-image: url('images/Quit.png');
}
.no-focus:focused {
    -fx-focus-color: transparent; /* Set the focus color to transparent */
    -fx-faint-focus-color: transparent; /* Set the faint focus color to transparent */
}
.background {
    -fx-background-image: url('images/background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.ai-btn {
    -fx-background-image: url('images/AI.png');
}
.pvp-btn {
    -fx-background-image: url('images/PvP.png');
}
.invite-box {
    -fx-background-color: #e3af8f;
    -fx-background-radius: 20px;
    -fx-padding: 0 0 0 10;
}
.scroll-pane .viewport {
    -fx-background-color: transparent; /* Ensuring the viewport does not obscure the rounded corners */
}
.small-round {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.cross {
  -fx-background-color: red;
    /* -fx-background-size: auto 50%; */
    /* -fx-background-repeat: no-repeat; */
    /* -fx-background-position: center center; */
    /* -fx-background-image: url('images/shipblockfinal.png'); */
}
