.invite-btn, .accept-btn {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-pref-height: 15px;
    -fx-font-size: 14px;
}
.invite-text, .accept-text {
    -fx-padding: 5 0 0 0;
    -fx-pref-width: 150px;
    -fx-font-size: 14px;
}
.bubble {
    -fx-border-color: #472510;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-background-color: #edb18c;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.image {
    -fx-background-size: auto 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.help-btn {
    -fx-background-image: url('images/help.png'); /* assuming the images directory is directly under the src folder */
}
.back-btn {
    -fx-background-image: url('images/Back.png');
}
.quit-btn {
    -fx-background-image: url('images/Quit.png');
}
.no-focus:focused {
    -fx-focus-color: transparent; /* Set the focus color to transparent */
    -fx-faint-focus-color: transparent; /* Set the faint focus color to transparent */
}
.background {
    -fx-background-image: url('images/background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.ai-btn {
    -fx-background-image: url('images/AI.png');
}
.pvp-btn {
    -fx-background-image: url('images/PvP.png');
}